{{#each this}}
  <div class="repo">
    <div class="repo-name">
      <a href="{{html_url}}">{{name}}</a>
      <p>Updated at {{updated_at}}</p>
    </div>
    <ul class="repo-details">
      <li>
        <a href="{{languages_url}}">{{language}}</a>
      </li>
      <li>
        <span class="octicon octicon-star"></span>
        <a href="{{stargazers_url}}">{{stargazers_count}}</a>
      </li>
      <li>
        <span class="octicon octicon-git-branch"></span>
        <a href="{{forks_url}}">{{forks_count}}</a>
      </li>
    </ul>
  </div>
{{/each}}
