<div class="user">
  <img src="{{avatar_url}}" alt="{{name}}" class="avatar"/>
  <h2>{{name}}</h2>
  <h4>{{login}}</h4>
  <hr>

  <ul class="info">
    <li class="info-detail">
      <span class="octicon octicon-location"></span>
      <span>{{location}}</span>
    </li>
    <li class="info-detail">
      <span class="octicon octicon-clock"></span>
      <span>Joined {{moment created_at}}</span>
    </li>
  </ul>
  <hr>

  <ul class="stats">
    <li class="stats-detail followers">
      <a href="{{followers_url}}"><strong>{{followers}}</strong></a>
      <span>Followers</span>
    </li>
    <li class="stats-detail starred">
      <a href="{{starred_url}}"><strong>0</strong></a>
      <span>Starred</span>
    </li>
    <li class="stats-detail">
      <a href="{{following_url}}"><strong>{{following}}</strong></a>
      <span>Following</span>
    </li>
  </ul>
  <hr>

  <div class="orgs">
    <h3>Organizations</h3>
    <img src="https://avatars.githubusercontent.com/u/11824325?v=3" alt="organizations"/>
  </div>
</div>
